*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Color Template: #FFF3C7, #FEC7B4,  #FC819E, #F7418F*/

/* Header:Navbar & Title */
.nav-bar{
  min-height: 70px;
  background-color: #F7418F;
  display: flex;
  justify-content:end;
  align-items: center;
}

.nav-item{
  display: inline-block;
  margin: 1em;
}

a{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

a:hover{
  text-decoration: underline;
}

.title{
  text-align: center;
  font-size: 3rem;
  margin: 0.5em;
}

/* Main: Form */

.form-container{
  width: 95%;
  max-width: 700px;
  min-height: 70vh;
  background-color: #FFF3C7;
  margin: 0 auto;
  border: 0.5em solid #FC819E,;
  border-radius: 1em;
}

form{
  margin: 1.4em;
}

.form-item{
  display: flex;
  flex-direction: column;
  margin-bottom: 2.8em;
}

label{
  font-size: 1.8rem;
}

input,select{
  font-size: 1.2em;
  padding: 1em;
  border-radius: 1em;
}

.add-book-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  width: 30%;
  background-color:#FC819E;
  font-size: 1.2em;
  padding: 1em;
  border-radius: 1em;
  text-align: center;
  color: white;
  user-select: none;
  transition: transform 0.4 ease-in-out;
}

.btn:hover{
  background-color:#F7418F;
  transform: scale(1.1);
}

/* Reading List Page : Header */
.readingList-title{
  font-size: 3rem;
  margin: 0.5em;
}

/* Reading List Page : Main Page */
.main-lists-container{
  width: 95%;
  max-width: 900px;
  min-height: 600px;
  border: 0.2em solid black;
  margin: 0 2em;
}

.single-list-container{
  width: 90%;
  min-height: 100px;
  border: 0.3em solid black;
  margin: 1em auto;
}

/* For Small Screen */
@media (max-width:576px){

.title{
  font-size: 2rem;
}

label{
  font-size: 1.5rem;
}

input,select{
  font-size: 1em;
  padding: 0.8em;
  border-radius: 1em;
}

.btn{
  width: 40%;
  font-size: 1.2em;
  padding: 1em;
  border-radius: 1em;
}

}
