*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav-bar{
  min-height: 70px;
  background-color: #F7418F;
  display: flex;
  justify-content:end;
  align-items: center;
  color:white
}

.nav-item{
  display: inline-block;
  margin: 1em;
}